body{
    text-align: center;
}

canvas{
    border: 2px solid black;
    background-image: url(images/grasses68.gif);
}

#talkBox{
    height: 2px;
    color: brown;
    font-size: 26px;
    font-weight: bold;
}